line, circle, svg.icon {
  user-select: none;
  -webkit-user-select: none;
}

text.type,
text.size,
circle.size,
svg.icon {
  pointer-events: none;
}

input[type=file],
body > svg.icon,
text.type {
  display: none;
}

#trash circle,
#add circle {
  fill: transparent;
}

#trash svg.icon path {
  fill: hsl(0, 0%, 66%);
}

/* --- */

body, #view {
  position: fixed;
  top: 0; left: 0; right: 0; bottom:0;
}

body {
  background: black;
  color: white;
}
body.ready {
  background: hsla(0, 0%, 33%, 1);
  transition: background 333ms linear;
}

text {
  fill: white;
  font-size: 15px;
  font-family: "Verdana", sans-serif;
  text-anchor: middle;
  text-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.15);
}

svg.icon path {
  fill: white;
}

/* --- */

line.link {
  stroke: hsla(0, 0%, 100%, 0.1);
}

/* --- */

g.file.node text {
  fill: hsl(0, 0%, 66%);
  font-size: 9px;
}

g.file.node text.name {
  fill: white;
  font-size: 15px;
}

g.file.node circle.background {
  fill: hsl(0, 0%, 33%);
  visibility: hidden;
}
g.file.node:hover circle.background {
  visibility: visible;
}

g.file.node circle.size {
  fill: hsla(0, 0%, 100%, 0.1);
}

g.file.node circle.handle {
  fill: transparent;
}
g.file.node:hover circle.handle {
  stroke: hsla(0, 0%, 100%, 0.1);
}


#keys text {
  text-anchor: start;
}
#keys text.address {
  fill: white;
}
#keys text.miniLockID,
#keys svg.icon path {
  fill: hsl(0, 0%, 66%);
}

text::selection {
  fill: white;
  background: black;
}
